.question {
  width: 90vw;
  min-height: 50vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lyrics {
  width: 90vw;
  min-height: 30vh;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;

}

.answer-div {
  width: 90vw;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.answers{
  width: 15vw;
  min-height: 8vh;
  padding: 0;
  /*margin: .05em;*/
  margin: auto;
  background-color: #9D9D9D;
  color: #EEEFEE;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
              10px 10px 15px rgba(0,0,0,0.5),
              -1px -1px 30px rgba(0,0,0,0.2);
}

.answers:click {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
              inset 5px 5px 8px rgba(0,0,0,.5);
}
