.end-text {
  width: 70vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-text {
  font-size: 3em;
}

#end-button {
  margin-top: 5vh;
}
