.bounce {
  -webkit-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
  -webkit-animation-iteration-count: 8;
  animation-iteration-count: 8;
  background-color: green;
}

@-webkit-keyframes bounce {
  to { transform: scale(1.2); }
}

@keyframse bounce {
  to { transform: scale(1.2); }
}

.lose {
  background-color: red;
  -webkit-animation: shrink .6s 2 alternate;
  animation: shrink .6s 2 alternate;
}

@-webkit-keyframes shrink {
  to { transform: scale(0.8); }
}

@keyframes shrink {
  to { transform: scale(0.8); }
}
