.video-background {
  background-image: url('blakey_snapshot.png');
  background-position: center;
  background-size: cover;
}

.fullscreen-video {
  display: none;
}


/***FONTS***/
h1 {
  font-size: 2.5em;
}

p {
  font-size: 1em ;
}

div {
  font-size: .75em;
}

.lyrics-container {
  width: 70vw;
}

.question-score-div {
  width: 70vw;
  margin-left: 10vw;
}

#lyrics {
  font-size: 1.5em;
}

.rules-text-center {
  font-size: 1em;
}

/***BUTTONS***/

.home-button {
  width: 20vw;
  height: 11vh;
}

.all-home-buttons {
  width: 90vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.answers {
  width: 30vw !important;
  overflow: hidden;
  margin: 3vw !important;
}

/***DIV***/
.lyrics {
  margin-bottom: 5vh;
}
