header {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: aqua;*/
}

body {
  padding: 0;
  border: none;
  margin: 0;
}

/*All buttons everywhere will have a pointer, and not have the annoying blue background when clicked.*/
button {
  cursor: pointer;
}

button:focus {outline:0;}

#score {
  font-size: 2em;
  margin-left: 3vw;
  color: #C6C7C6;
}

#nav-icon {
  margin-right: 5vw;
  color: #C6C7C6;
  cursor: pointer;
}

.nav-menu {
  position: absolute;
  top: 7.3vh;
  right: 4.8vw;
  height: auto;
  width: auto;
  border-radius: 15%;
  visibility: hidden;
  background-color: transparent;
  border: 2px solid #C6C7C6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: visible .5s, top .8s;
}

#menu-container:hover .nav-menu {
  visibility: visible;
  top: 7.8vh;
}

#menu-container:hover .nav-menu a {
  visibility: visible;
}


.nav-menu a {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-right: 2px;
  margin-left: 10px;
  color: #C6C7C6;
  transition: font-size .5s, visibility .1s;
  visibility: hidden;
}

.nav-menu a:hover {
  /*background-color: #C6C7C6;*/
  /*-webkit-text-fill-color: transparent;*/
  font-size: 1.7em;

}

.rules-container {
  opacity: 0;
  background-color: #EEEFEE;
  height: 1vh;
  width: 1vw;
  position: absolute;
  margin-left: 91vw;
  margin-top: 11vh;
  transition: all 1.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
              10px 10px 15px rgba(0,0,0,0.5),
              -1px -1px 30px rgba(0,0,0,0.2);
}

.rules-container-center {
  opacity: 1;
  background-color: #BFBFBF;
  width: 62vw;
  height: 60vh;
  margin-left: 19vw;
  margin-top: 20vh;
}

.exit {
  position: absolute;
  right: 1vw;
  top: 1vh;
  cursor: pointer;
}

.rules-text {
  display: none;
  opacity: 0;
  font-size: 1px;
  transition: all 2s ease;
}

.rules-text-center {
  display: block;
  opacity: 1;
  font-size: 1.5em;
  margin: 0 5vw;
}

.video-background {
  /*background-image: url('blakey_snapshot.png');*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-video {
  position: absolute;
  top: 60%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 140%;
  min-height: 140%;
  -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-device-width: 767px), (max-width: 767px) {
  .video-background {
    background-image: url('blakey_snapshot.png');
    background-position: center;
    background-size: cover;
  }

  .fullscreen-video {
    display: none !important;
  }
}

/*Very possible that aligning content with only align the ui-view, not the content within the ui-view*/
main{
  /*background-color: red;*/
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
